.navbar{
    position: fixed;
    width: 100%;
    font-family: "Pirata";
    transition: background-color 0.5s ease-out 50ms;
    z-index: 2;
}

.navbar-btn {
    position: fixed;
    width: 100%;
}
.open-nav-btn {
    padding: 1rem;

}

/* Clase para que se muestren las cosas */
.show {
    display: block !important;
}
.hide {
    display: none !important;
}

/* Clase para transicion del bakcground del navbar */
.nav-wt-bg {
    background-color: rgba(255, 243, 232, .98);
    box-shadow: -1px -1px 24px 0px rgba(0,0,0,1);
}
.nav-wt-bg > ul > li > a {
    color: black !important;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar > ul > li > a:hover {
    color: rgb(130, 130, 130);
}
.navbar > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.navbar-logo > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}
.navbar-logo > a > small {
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: 1px;
}
.navbar-item > a{
    font-size: 1.5rem;
    word-wrap: break-word;
}
.dummy-content {
    height: 200vh;
    width: 100%;
}

.navbar > ul > li {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid rgb(165, 108, 42);
}

.navbar-button {
    display: none;
}

.boton-tres-lineas {

    display: flex;
    flex-direction: column;
}
.navbar-button:hover {
    cursor: pointer;
    color: gray;
}
.boton-tres-lineas > div {
    padding-inline: 1rem;
    margin-bottom: 5px;
    background-color: rgb(255, 224, 184);
    width: 5px;
    height: 3px;
    border-radius: 20px;
    transform-origin: left center;
}

@media (width < 1000px) {
    .navbar > ul {
        flex-direction: column;
    }
    .navbar > ul > li {
        margin-bottom: 1rem;
    }
    .navbar-item {
        display: none;
    }
    .navbar-item > a {
        font-size: 1.2rem;

    }
    .navbar-button {
        display: block;
        position: absolute;
        top:0;
        right: 0;
        margin: 1rem;

    }
    .navbar-logo > a {
        font-size: 2rem;
        flex-direction: row;
    }
    .navbar-logo > a > small {
        padding-inline: 0.5rem;
    }
}

